{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
Les indications : 
<ul>
{%for unMedoc in medicament %}
<li> Nom du Medicament : {{unMedoc.libelle}}
	<a href="{{path('modifierMedoc',{id:unMedoc.id})}}">modifier</a>
    <a href="{{path('supprimerMedoc',{id:unMedoc.id})}}">supprimer</a></li>
</li>
{%else%}
Pas de médicament trouvé
{%endfor%}

</div>
{% endblock %}
