{% extends 'base.html.twig' %}

{% block title %} Oui {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
Les indications : 
<ul>
{%for indication in indications %}
<li> Medicament : {{indication.getMedicament().getLibelle()}} <br/> Traitement pour le patient : {{indication.getTraitement().getNomPatient()}} <br/> Posologie : {{indication.getPosologie()}}
</li>
{%else%}
Pas d'indication trouvé
{%endfor%}

</div>


{% endblock %}
